header {
    padding: 20px;
    height: 100vh;
    background: url("../img/bg-1.png")no-repeat center center/cover;
}

header ul {
    display: flex;
    position: absolute;
    left: 90px;
}

header li {
    padding: 0px 20px;
    list-style: none;
}

header .Phone-1 {
    position: relative;
    width: 58%;
}

header .Phone-01 {
    position: absolute;
    height: 240px;
    right: 22px;
    bottom: 0%;
    width: 70%;
    margin: 0;
    z-index: 20;
}

header h1 {
    color: #ffffff;
    padding: 40px 0px 0px 0px;
    font-weight: 700;
    font-size: 45px;
}

header h4 {
    color: #fd7a32;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1;
}

header p {
    color: #ffffff;
    font-size: 17px;
    line-height: 1.8;
    font-weight: 300;
}

header .Button01 {
    padding: 20px 10px;
}

header .Button02 {
    padding: 20px 10px;
}

.carddv {
    padding-top: 15vh;
    height: 70vh;
    margin-bottom: 10vh;
}

.carddv::before {
    content: "";
    background: url("../img/Untitled-2.png")no-repeat center center/cover;
    right: 0px;
    width: 40%;
    height: 72%;
    position: absolute;
    margin: -113px 0px;
}

.carddv .slider .card {
    box-shadow: 0px 0px 16px #898ba966;
    border-radius: 5px;
    margin: 0px 10px;
}

.carddv a {
    font-size: 30px;
    color: #763ca1;
    position: relative;
    border: 2px solid #763ca1;
    border-radius: 50px;
    padding: 1px 14px;
    top: 15px;
}

.carddv a:hover {
    color: white;
    background-color: #763ca1;
}

.carddv p {
    margin-top: 30px;
    line-height: 0;
    font-weight: 400;
}

.carddv h3 {
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 35px;
}

.carddv .card-head img {
    width: 30%;
    margin: 20px 16px;
}

.carddv .card-body h4 {
    font-size: 21px;
    font-weight: bold;
    margin: 5px 15px;
}

.carddv .card-body p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    margin: 20px 17px;
    padding-bottom: 10px;
}

.navbardv {
    color: #ffffff;
    font-weight: 500;
}

.navbardv:hover {
    text-decoration: none;
    color: #ffffff;
}

.Infodv {
    padding: 40px;
    height: 100vh;
    background: url("../img/bg-3.png")no-repeat center center/cover;
    padding-top: 10vh;
    margin-bottom: 20vh
}

.Infodv h2 {
    padding: 100px 0px 0px 0px;
    font-weight: 500;
    font-size: 35px;
    margin-top: 30px;
    color: #5a138d;
}

.Infodv h4 {
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1;
}

.Infodv p {
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
    padding-bottom: 20px;
}

.Infodv .caseFold {
    width: 720px;
    height: 580px;
}

.Infodv .Button01 {
    padding: 20px 10px;
}

.Infodv .Button02 {
    padding: 20px 10px;
}

.Infodv .Phone-2 {
    position: absolute;
    left: 100px;
    top: 55px;
}

.Infodv.Phone-02 {
    position: relative;
    margin: 0px;
    width: 100%;
}

.Infodv .Phone-2a {
    position: absolute;
    right: 100px;
}

.Middv {
    padding: 40px;
    height: 100vh;
    background: url("../img/bg-4.png")no-repeat center center/cover;
    padding-top: 10vh;
    margin-bottom: 20vh
}

.Middv h2 {
    padding: 100px 0px 0px 0px;
    font-weight: 500;
    font-size: 35px;
    margin-top: 30px;
    color: #5a138d;
}

.Middv h4 {
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1;
}

.Middv p {
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
    padding-bottom: 20px;
}

.Middv .Phone-3 {
    position: relative;
    width: 70%;
}

.Middv .Phone-03 {
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 40px;
    right: 0px;
    left: 40px;
}

.Middv .Button01 {
    padding: 20px 10px;
}

.Middv .Button02 {
    padding: 20px 10px;
}

.enddv {
    padding: 40px;
    height: 100vh;
    margin-bottom: 20vh;
    background: url("../img/bg-5.png") center no-repeat;
}

.enddv h2 {
    padding: 100px 0px 0px 0px;
    font-weight: 500;
    font-size: 35px;
    margin-top: 30px;
    color: #5a138d;
}

.enddv h4 {
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1;
}

.enddv p {
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
    padding-bottom: 20px;
}

.enddv .caseFold {
    width: 720px;
    height: 580px;
}

.enddv .Phone-4 {
    position: absolute;
    left: 100px;
}

.enddv .Phone-04 {
    position: relative;
    margin: 0px;
    width: 100%;
}

.enddv .Phone-4a {
    position: absolute;
    right: 100px;
    top: 55px;
}

.enddv .Button01 {
    padding: 20px 10px;
}

.enddv .Button02 {
    padding: 20px 10px;
}

.lastdv {
    background: url("../img/bg-8.png")no-repeat center center/cover;

    height: 100vh;
}

.lastdv h2 {
    padding: 45px 0px 0px 0px;
    font-weight: 500;
    font-size: 35px;
    margin-top: 30px;
    color: #5a138d;
    margin-left: 2vw;
}

.lastdv h4 {
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1;
    margin-left: 2vw;
}

.lastdv p {
    font-size: 15px;
    line-height: 1.8;
    margin-left: 2vw;
}

.lastdv .Button01 {
    margin-left: 2.4vw;
    padding: 20px 10px;
}

.lastdv .Button02 {
    padding: 20px 10px;
}

.lastdv .caseFold {
    width: 720px;
    height: 580px;
}

.lastdv .Phone-05 {
    position: relative;
    width: 100%;
    margin: 0px;
}

.lastdv .Phone-5 {
    position: absolute;
    left: -45px;
}

.lastdv .Phone-5a {
    position: absolute;
    right: 170px;
    width: 39%;
    top: 15px;
}

.lastdv .Phone-5b {
    position: absolute;
    right: 40px;
    width: 34%;
    top: 31px;
}

.Slidedv {
    height: 100vh;
    text-align: center;
    margin-bottom: 30vh;
}

.Slidedv h2 {
    padding: 15px 0px 0px 0px;
    font-size: 32px;
    font-weight: 500;
    color: #5a138d;
}

.Slidedv h4 {
    padding: 0px 0px 35px 0px;
    font-size: 22px;
}

.Slidedv .Phone-6 {
    width: 78%;
}

footer {
    background: url("../img/footer-bg.png")no-repeat center center/cover;
    background-size: auto;
    text-align: center;
}

footer .Button01 {
    padding: 20px 10px;
}

footer .Button02 {
    padding: 20px 10px;
}

footer p {
    padding: 15px;
    margin: 5px 0px 14px 0px;
}

footer .logodv {
    margin-bottom: 10vh;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    
  }

/* For mobile phones: */
    